<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xmlns:cxf="http://cxf.apache.org/core" 
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd">

<!-- =========================== -->
<!-- =========JAXB / CXF ========= -->
<!-- =========================== -->
 
	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

	<bean id="jaxbProvider" class="org.apache.cxf.jaxrs.provider.JAXBElementProvider" />

	<bean id='jacksonProvider' class='org.codehaus.jackson.jaxrs.JacksonJaxbJsonProvider' />
	
<!-- =========================== -->
<!-- =========Servicios  ========= -->
<!-- =========================== -->
	<jaxrs:server id="customServices">
		<jaxrs:serviceBeans>
			<ref bean="companyManagerRest"/>
			<ref bean="busRest"/>
			<ref bean="busLineRest"/>
			<ref bean="positionRest"/>
		</jaxrs:serviceBeans>
		<jaxrs:extensionMappings>
			<entry key="json" value="application/json"/>
			<entry key="xml" value="application/xml"/>
		</jaxrs:extensionMappings>
		<jaxrs:providers>
			<ref bean="jaxbProvider"/>
			<ref bean="jacksonProvider"/>
		</jaxrs:providers>
		<jaxrs:features>
			<cxf:logging/>
		</jaxrs:features>
	</jaxrs:server>

	<bean id="companyManagerRest" class="ar.edu.unq.tip.rest.CompanyManagerRest">
		<property name="companyManagerService" ref="services.companyManager"/>
	</bean>
	<bean id="busRest" class="ar.edu.unq.tip.rest.BusRest">
		<property name="busService" ref="services.bus"/>
	</bean>
	<bean id="busLineRest" class="ar.edu.unq.tip.rest.BusLineRest">
		<property name="busLineService" ref="services.busLine"/>
	</bean>
	<bean id="positionRest" class="ar.edu.unq.tip.rest.PositionRest">
		<property name="positionService" ref="services.position"/>
	</bean>
</beans>